@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #131317;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1B1B1F;
}
::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #DAA520;
}

::selection {
  background-color: #DAA520;
  color: #131317;
}
